<h1>SUBTRACTION</h1>
<%= form_with  local: true, method: :post do %>

<br><%= label_tag "Enter Number 1 to subtract" %>
<%= number_field_tag "num1" %>

<br><%= label_tag "Enter Number 2 to subtract" %>
<%= number_field_tag "num2" %>


<br><%= submit_tag "Calculate" %>


<% end %>